---
- name: Get default VPC
  amazon.aws.ec2_vpc_net_info:
    region: "{{ aws_region }}"
  register: vpcs
  tags: deploy

- name: Set default VPC ID
  set_fact:
    default_vpc_id: "{{ (vpcs.vpcs | selectattr('is_default','equalto',true) | list)[0].id }}"
  tags: deploy

- name: Create Security Group
  amazon.aws.ec2_group:
    name: "{{ sg_name }}"
    description: "Allow SSH and HTTP"
    vpc_id: "{{ default_vpc_id }}"
    region: "{{ aws_region }}"
    rules: "{{ sg_rules }}"
    rules_egress: "{{ sg_egress }}"
    state: present
  register: sg
  tags: deploy

- name: Set security_groups fact for EC2 role
  set_fact:
    security_groups:
      [
        "{{ sg.group_id if sg is defined and sg.group_id is defined else sg_name }}",
      ]
  tags: deploy
- name: Get default subnet in the VPC
  amazon.aws.ec2_vpc_subnet_info:
    filters:
      vpc-id: "{{ default_vpc_id }}"
    region: "{{ aws_region }}"
  register: subnets
  tags: deploy

- name: Set default subnet ID fact
  set_fact:
    default_subnet_id: "{{ subnets.subnets[0].id }}"
  tags: deploy
