---
- name: Get default VPC
  amazon.aws.ec2_vpc_net_info:
    region: "{{ aws_region }}"
  register: vpcs
  tags: destroy

- name: Set default VPC ID
  set_fact:
    default_vpc_id: "{{ (vpcs.vpcs | selectattr('is_default','equalto',true) | list)[0].id }}"
  tags: destroy


- name: Get EC2 instance info
  amazon.aws.ec2_instance_info:
    region: "{{ aws_region }}"
    filters:
      "tag:Name": "{{ ec2_name }}"
  register: ec2_info
  tags: destroy

- name: Debug EC2 info
  debug:
    var: ec2_info
  tags: destroy


- name: Terminate EC2 instances
  amazon.aws.ec2_instance:
    region: "{{ aws_region }}"
    instance_ids: "{{ ec2_info.instances | map(attribute='instance_id') | list }}"
    state: absent
    wait: yes
  when: ec2_info.instances is defined and ec2_info.instances | length > 0
  tags: destroy


- name: Delete Security Group
  amazon.aws.ec2_group:
    name: "{{ sg_name }}"
    vpc_id: "{{ default_vpc_id }}"
    region: "{{ aws_region }}"
    state: absent
  tags: destroy
